html {
  box-sizing: border-box;
  /*border: 1px solid green;*/
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
  font-family: Consolas;
  color: #555;
  /*border: 1px solid blue;*/
  height: 100%;
}

.app {
  border: 1px solid red;
  width: 100%;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  height: 90%;
}

.display__clock {
  width: 70%;
  border: 1px solid #000;

}

.display__time {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  border: 1px solid yellow;
}

.controls {
  display: flex;
  border: 1px solid purple;
  height: 10%;
}

.controls__btn {
  flex: 1;
}
